body {
    min-width: 480px;
}
.p-ui h1 .red-letter {
    color: #E63946;
}
.p-ui .logo {
    font-size: 60px;
    margin-bottom: 8px;
}
.p-ui .desc {
    margin-top: 0;
    color: #6D6D6D;
}
.p-ui .struct-img {
    max-width: 640px;
}

/*layout sample blocks*/
.p-ui .sample-row-block {
    border: 3px dashed #a08f90c2;
    padding: 16px;
    padding-top: 32px;
    position: relative;
    margin-top: 16px;
}
.p-ui .sample-row-block .row-title {
    position: absolute;
    left: 8px;
    top: 8px;
}
.p-ui .sample-col-block {
    padding: 4px;
    border: 3px solid #e4e4e4;
    background-color: #f0f0f0;
    min-height: 120px;
    
}
.p-ui .sample-col-block .text-highlight {
    font-weight: 700;
    color: #E63946;
}


/*buttons sample*/
.btns-sample li {
    margin-bottom: 1rem;
}
.btns-sample li button {
    margin-right: 1rem;
}


/*JS badge for components*/
.js-badge {
    color: #fff;
    background-color: #E63946;
    font-size: 1rem;
    padding: .25rem;
    border-radius: 3px;
    cursor: help;
}

@media (min-width: 769px) {
    .p-ui .sample-col-block .text-highlight {
        color: #1E1E1E;
        font-weight: 400;
    }
    .p-ui .sample-col-block .text-highlight-tab {
        color: #E63946;
        font-weight: 700;
    }
}

@media (min-width: 1024px) {
    .p-ui .sample-col-block .text-highlight {
        color: #1E1E1E;
        font-weight: 400;
    }
    .p-ui .sample-col-block .text-highlight-tab {
        color: #1E1E1E;
        font-weight: 400;
    }
    .p-ui .sample-col-block .text-highlight-dt {
        color: #E63946;
        font-weight: 700;
    }
    aside nav {
        top: 0;
        position: sticky;
    }
    aside hr {
        display: none;
    }
}