.p_ui h1 .red-letter {
    color: #E63946;
}
.p_ui .logo {
    font-size: 60px;
    margin-bottom: 8px;
}
.p_ui .desc {
    margin-top: 0;
    color: #6D6D6D;
}
.p_ui .struct-img {
    max-width: 640px;
}

/*layout sample blocks*/
.p_ui .sample-row-block {
    border: 3px dashed #a08f90c2;
    
    padding: 16px;
}
.p_ui .sample-col-block {
    border: 3px solid #e4e4e4;
    background-color: #f0f0f0;
    /* height: 60px; */
    
}