.p-ui {
    //img block
    .img-block {
        display: block;
        width: 80%;
        margin: 16px 0 0 0;
    }

    //hr
    hr {
        height: 5px;
        background: $hr-grey;
        border: none;
        border-radius: 3px;
        margin: 32px 0 0 0;
    }
    .hr-red {
        background: $accent-red;
    }
}
