//position 
.section-container {
    max-width: 1140px;
    /* min-width: 600px; */
    margin: 0 auto;
}
.position-container {
    position: relative;
    border: 5px solid $dark-grey;
    margin: 30px 0;
    background-color: $light-grey;
    min-height: 100px;
}
.position-block {
    display: block;
    border: 1px solid $accent-red;
    padding: 20px;
    background-color:lavenderblush
    
}
.position-block-absolute {
    position: absolute;
    left: 200px;
    bottom: 10px;
    background-color: lavenderblush;
    border: 1px solid $accent-red;
    padding: 20px;
}
.position-block-relative {
    position: relative;
    right: 50px;
    top: 20px;
    background-color: lavenderblush;
    border: 1px solid $accent-red;
    padding: 20px;
}
.extra-padding {
    padding: 20px 0 0 30px;
}