.p-ui {
    table {
        margin: 12px 0 0 0;
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid $hr-grey;
        font-size: .9rem;
        overflow-x: auto;
        display: block;

        thead {
            background-color: #eee;
            display: table;
            width: 100%;
        }
        tbody {
            display: table;
            width: 100%;
        }

        caption {
            font-size: 18px;
            padding: 4px;
            font-weight: 700;
            text-align: left;
            width: 60%;
            display: block;
        }

        th, td {
            padding: 18px;
        }
    }
}

