//colors
$accent-red: #E63946;
$text-black: #1E1E1E;
$dark-grey: #4e4e4e;
$medium-grey: #6D6D6D;
$light-grey: #9C9C9C;
$hr-grey: #a08f9050;
$code-blue: #023e8a;

//sizes
$basic-font-size: 18px;

//fonts
$main-font: 'Inter', sans-serif;
$code-font: 'Source Code Pro', monospace;

//breakpoints
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;