@mixin col-prop {
    display: flex;
    flex-direction: column;
    margin: 8px;

}

/*flex row*/
.p-ui {
    
    .f-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .f-reverse-row {
        flex-direction: row-reverse;
    }

    /*flex column*/
    /*mobile columns: from 768px to min-width*/
    .f-col {
        /* flex-basis: 100%; */
        flex: 1 1 0%;
        max-width: 100%;
        @include col-prop();
    }
    .f-col-1 {
        flex: 1 0 auto;
        max-width: calc(100%/12);
        @include col-prop();
    }
    .f-col-2 {
        flex: 2 0 auto;
        max-width: calc((100%/12)*2);
        @include col-prop();
    }
    .f-col-3 {
        flex: 3 0 auto;
        max-width: calc((100%/12)*3);
        @include col-prop();
    }
    .f-col-4 {
        flex: 4 0 auto;
        max-width: calc((100%/12)*4);
        @include col-prop();
    }
    .f-col-5 {
        flex: 5 0 auto;
        max-width: calc((100%/12)*5);
        @include col-prop();
    }
    .f-col-6 {
        flex: 6 0 auto;
        max-width: calc((100%/12)*6);
        @include col-prop();
    }
    .f-col-7 {
        flex: 7 0 auto;
        max-width: calc((100%/12)*7);
        @include col-prop();
    }
    .f-col-8 {
        flex: 8 0 auto;
        max-width: calc((100%/12)*8);
        @include col-prop();
    }
    .f-col-9 {
        flex: 9 0 auto;
        max-width: calc((100%/12)*9);
        @include col-prop();
    }
    .f-col-10 {
        flex: 10 0 auto;
        max-width: calc((100%/12)*10);
        @include col-prop();
    }
    .f-col-11 {
        flex: 11 0 auto;
        max-width: calc((100%/12)*11);
        @include col-prop();
    }
    
}
 
/*tablet columns*/
@media screen and (min-width: $tab) {
    .p-ui {
        .f-tab-col-1 {
            flex: 2 0 auto;
            max-width: calc(100%/12);
        }
        .f-tab-col-2 {
            flex: 2 0 auto;
            max-width: calc((100%/12)*2);
        }
        .f-tab-col-3 {
            flex: 3 0 auto;
            max-width: calc((100%/12)*3);
        }
        .f-tab-col-4 {
            flex: 4 0 auto;
            max-width: calc((100%/12)*4);
        }
        .p-ui .f-tab-col-5 {
            flex: 5 0 auto;
            max-width: calc((100%/12)*5);
        }
        .f-tab-col-6 {
            flex: 6 0 auto;
            max-width: calc((100%/12)*6);
        }
        .p-ui .f-tab-col-7 {
            flex: 7 0 auto;
            max-width: calc((100%/12)*7);
        }
        .f-tab-col-8 {
            flex: 8 0 auto;
            max-width: calc((100%/12)*8);
        }
        .f-tab-col-9 {
            flex: 9 0 auto;
            max-width: calc((100%/12)*9);
        }
        .f-tab-col-10 {
            flex: 10 0 auto;
            max-width: calc((100%/12)*10);
        }
        .f-tab-col-11 {
            flex: 11 0 auto;
            max-width: calc((100%/12)*11);
        }
        .f-tab-col-12 {
            flex: 11 0 auto;
            max-width: 100%;
        }
    }
}
/*desktop columns*/
@media (min-width: $desktop) {
    .p-ui {
        .f-dt-col-1 {
            flex: 1 0 auto;
            max-width: calc(100%/12);
        }
        .f-dt-col-2 {
            flex: 2 0 auto;
            max-width: calc((100%/12)*2);
        }
        .f-dt-col-3 {
            flex: 3 0 auto;
            max-width: calc((100%/12)*3);
        }
        .f-dt-col-4 {
            flex: 4 0 auto;
            max-width: calc((100%/12)*4);
        }
        .f-dt-col-5 {
            flex: 5 0 auto;
            max-width: calc((100%/12)*5);
        }
        .f-dt-col-6 {
            flex: 6 0 auto;
            max-width: calc((100%/12)*6);
        }
        .f-dt-col-7 {
            flex: 7 0 auto;
            max-width: calc((100%/12)*7);
        }
        .f-dt-col-8 {
            flex: 8 0 auto;
            max-width: calc((100%/12)*8);
        }
        .f-dt-col-9 {
            flex: 9 0 auto;
            max-width: calc((100%/12)*9);
        }
        .f-dt-col-10 {
            flex: 10 0 auto;
            max-width: calc((100%/12)*10);
        }
        .p-ui .f-dt-col-11 {
            flex: 11 0 auto;
            max-width: calc((100%/12)*11);
        }
        .p-ui .f-dt-col-12 {
            flex: 11 0 auto;
            max-width: 100%;
        }
    }
}